<div class="footer">
    <div class="column-footer">
        <h5>CINEPELIS</h5>
        <ul class="list-icons">
            <li class="item-social bi bi-facebook"></li>
            <li class="item-social bi bi-instagram"></li>
            <li class="item-social bi bi-twitter-x"></li>
            <li class="item-social bi bi-linkedin"></li>
            <li class="item-social bi bi-tiktok"></li>
        </ul>
    </div>
    
    <div class="column-footer">
        <h5>CARTELERA</h5>
        <ul class="list-items">
            <li>ESTRENOS</li>
            <li>VENTAS ANTICIPADAS</li>
            <li>PELICULAS 2D </li>
            <li>PELICULAS 3D</li>
        </ul>
    </div>
    
    <div class="column-footer">
        <h5>CANDY</h5>
        <ul class="list-items">
            <li>TODOS LOS PRODUCTOS</li>
            <li>BASES VENTA</li>
        </ul>
    </div>

    <div class="column-footer">
        <h5>STORE</h5>
        <ul class="list-items">
            <li>CONTACTO</li>
            <li>RRHH</li>
        </ul>
    </div>
</div>