<div class="content">
  <div class="list-categories">
    <h2>Productos</h2>
    <div class="list-productos">
      <div *ngFor="let producto of productos">
        <div class="card">
          <div class="card-body">
            <img appImgBroken class="card-img-top" src={{producto.portada}}>
            <h5 class="card-title">{{producto.contenido}}</h5>
          </div>
          <a href="#" class="btn btn-primary btn-price">${{producto.precio}}</a>  
        </div>
      </div>
    </div>
  </div>
</div>