<div class="content">
    <div class="list-categories">
        <h2>Combos</h2>
        <div class="list-combos">
            <div *ngFor="let combo of combos">
                <div class="card">
                    <img appImgBroken class="card-img-top" src={{combo.portada}}>
                    <div class="card-body">
                        <h5 class="card-title">{{combo.contenido}}</h5>
                        <a href="#" class="btn btn-primary">{{combo.precio}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>