<app-header></app-header>
<!--div class="list-categories">
  <h2>Peliculas</h2>
  <div class="list-movies">
    <div *ngFor="let movie of movies; let i = index">
      <div class="card">
        <button type="button" class="img-card" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" aria-controls="collapse">
          <img src={{movie.portada}}>
          <p>{{movie.titulo}}</p>
        </button>
        <div class="desplegable-text" [attr.id]="'collapse' + i" class="collapse">
          <div class="card card-body">
            <p>{{movie.descripcion}}</p>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div-->

<!--segunda opcion-->
<!--div class="list-categories">
  <h2>Peliculas</h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div *ngFor="let movie of movies">
        <div class="swiper-slide">
          <div class="card">
            <img src={{movie.portada}}>
            <p>{{movie.titulo}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div-->

<div class="contenedorCarrusel">
  <swiper
  [config]="config"
  class="mySwiper"
  >
  <ng-template swiperSlide *ngFor="let movie of movies">
    <div
      class="card-new"
    >
      <div class="image-new">
        <img [src]="movie.portada">
      </div>
      <div class="body-card-new">
        <div class="content">
          <div class="title-date">
            <h4>
              <strong>{{ movie.titulo | titlecase}}</strong>
            </h4>
          </div>
          <div class="date">
            <p class="text-card-new date">{{ movie.descripcion }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  </swiper>
</div>
<app-footer></app-footer>