.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-categories{    
    width: 80%;
}
.list-categories h2{
    color: var(--color-3);
}
.list-movies{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    column-gap: 1%;
}
.card{
    overflow: hidden;
    width: 180px;
    color: var(--color-3);
    text-align: center;
    background: none;
    border: 0;
}
.card img{ 
    display: block;
    align-items: center;
    height: 250px;
}
.card-title{
    font-size: 18px;
    text-align: center;
    height: 40px;
}
