.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.item-form{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

input{
    height: 25px;
}

label{
    color: var(--color-3); 
}

button{
    width: 25%;
}