<h1 class="title">Cinepelis</h1>

<div class="contenedor">
    <form (ngSubmit)="onSubmit()" [formGroup]="formulario" class="form" method="POST">
        <div class="item-form">
            <label for="titulo">Título:</label>
            <input formControlName="titulo" type="text" id="titulo" name="titulo">
        </div>
        <div class="item-form">
            <label for="descripcion">Descripción:</label>
            <input formControlName="descripcion" type="text" id="descripcion" name="descripcion">
            <!--textarea id="descripcion" name="descripcion" rows="4" cols="50" value="descripcion"></textarea-->
        </div>
        <div class="item-form">
            <!--label for="portada">Portada:</label>
            <input type="file" id="portada" name="portada"-->
            <label for="portada">Portada:</label>
            <input formControlName="portada" type="text" id="portada" name="portada">
        </div>
        <div class="item-form">
            <label for="trailer">Trailer:</label>
            <input formControlName="trailer" type="text" id="trailer" name="trailer">
        </div>
        <div class="item-form">
            <label for="clasificacion">Clasificación:</label>
            <input formControlName="clasificacion" type="text" id="clasificacion" name="clasificacion">
            <!--select formControlName="clasificacion" id="clasificacion" name="clasificacion">
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
                <option value="NC-17">NC-17</option>
            </select-->
        </div>
        <div class="item-form">
            <label for="genero">Género:</label>
            <input formControlName="genero" type="text" id="genero" name="genero">
        </div>
        <div class="item-form">
            <label for="duracion">Duración (minutos):</label>
            <input formControlName="duracion" type="text" id="duracion" name="duracion">
        </div>
        <div class="item-form">
            <label for="elenco">Elenco:</label>
            <input formControlName="elenco" type="text" id="elenco" name="elenco" rows="4" cols="50">
            <!--textarea id="elenco" name="elenco" rows="4" cols="50" value="elenco"></textarea-->
        </div>
        <div class="item-form">
            <label for="director">Director:</label>
            <input formControlName="director" type="text" id="director" name="director">
        </div>
        <div class="send-content">
            <button type="submit" class="register-buttom">Registrar</button>
        </div>
    </form>
</div>