<form (ngSubmit)="onSubmit()" [formGroup]="formulario" class="form" method="POST">
    <label for="titulo">Título:</label>
    <input formControlName="titulo" type="text" id="titulo" name="titulo"><br>

    <label for="descripcion">Descripción:</label>
    <input formControlName="descripcion" type="text" id="descripcion" name="descripcion" rows="4" cols="50" >
    <!--textarea id="descripcion" name="descripcion" rows="4" cols="50" value="descripcion"></textarea--><br>

    <!--label for="portada">Portada:</label>
    <input type="file" id="portada" name="portada"><br-->
    <label for="portada">Portada:</label>
    <input formControlName="portada" type="text" id="portada" name="portada"><br>

    <label for="trailer">Trailer:</label>
    <input formControlName="trailer" type="text" id="trailer" name="trailer"><br>

    <label for="clasificacion">Clasificación:</label>
    <input formControlName="clasificacion" type="text" id="clasificacion" name="clasificacion">
    <!--select formControlName="clasificacion" id="clasificacion" name="clasificacion">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="NC-17">NC-17</option>
    </select--><br>

    <label for="genero">Género:</label>
    <input formControlName="genero" type="text" id="genero" name="genero"><br>

    <label for="duracion">Duración (minutos):</label>
    <input formControlName="duracion" type="text" id="duracion" name="duracion"><br>

    <label for="elenco">Elenco:</label>
    <input formControlName="elenco" type="text" id="elenco" name="elenco" rows="4" cols="50"><br>
    <!--textarea id="elenco" name="elenco" rows="4" cols="50" value="elenco"></textarea-->

    <label for="director">Director:</label>
    <input formControlName="director" type="text" id="director" name="director"><br><br>

    <button type="submit">Enviar</button>
</form>